.chbx
{
	display: block;
	visibility: hidden;
	position: relative;
	margin-right: 0px;
	margin-top: 0px;
	width:2px;
	height:2px;
	& + label
	{
		font-size: 1em;
		position: relative;
	}
	& + label:before
	{
		content:'';
		color:black;
		z-index: 5;
		line-height: 0px;
		top:50%;
		left:0px;
		margin-top: -.5em;
		vertical-align: middle;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 1.2em;
		text-rendering: auto;
		background-color: white;
		width:.9em;
		height:.9em;
		padding: .3em;
		border:1px solid tint(#727272, 80%);
		margin-right: .5em;
	}
	&:checked + label:before
	{
		content:"\f00c";
	}
	&[type="radio"]
	{
		& + label:after
		{
			border-radius: 100%;
		}
		&:checked + label:before
		{
			content:"\f111";
		}
	}
}

// MIXINS

@mixin checkboxStyling($bgColor, $checkColor, $borderColor, $borderWidth, $checkElement, $checkLabelColor, $labelColor)
{
	& + label
	{
		color:$labelColor;
		&:before
		{
			color:$checkColor;
			background-color: $bgColor;
			border:$borderWidth solid $borderColor;
		}
	}
	&[type=checkbox]:checked + label:before
	{
		content:$checkElement;
	}
	&:checked + label
	{
		color:$checkLabelColor;
	}
}
@mixin radioButStyling($borderRadius, $checked, $checkedColor, $unchecked, $uncheckedColor)
{
	&
	{
		& + label:before
		{
			content:$unchecked;
			color:$uncheckedColor;
			border-radius: $borderRadius;
		}
		&:checked + label:before
		{
			content:$checked;
			color:$checkedColor;
		}
	}
}
